@define-mixin text-theme-default {
  --qw-typo-h1-font-size: 32px;
  --qw-typo-h1-line-hegiht: 36px;
  --qw-typo-h1-font-family: var(--qw-typo-font-family);
  --qw-typo-h2-font-size: 28px;
  --qw-typo-h2-line-hegiht: 32px;
  --qw-typo-h2-font-family: var(--qw-typo-font-family);
  --qw-typo-h3-font-size: 24px;
  --qw-typo-h3-line-hegiht: 28px;
  --qw-typo-h3-font-family: var(--qw-typo-font-family);
  --qw-typo-h4-font-size: 20px;
  --qw-typo-h4-line-hegiht: 24px;
  --qw-typo-h4-font-family: var(--qw-typo-font-family);
  --qw-typo-l-font-size: 20px;
  --qw-typo-l-line-hegiht: 32px;
  --qw-typo-l-font-family: var(--qw-typo-font-family);
  --qw-typo-l-compact-font-size: 20px;
  --qw-typo-l-compact-line-hegiht: 28px;
  --qw-typo-l-compact-font-family: var(--qw-typo-font-family);
  --qw-typo-m-font-size: 16px;
  --qw-typo-m-line-hegiht: 24px;
  --qw-typo-m-font-family: var(--qw-typo-font-family);
  --qw-typo-m-compact-font-size: 16px;
  --qw-typo-m-compact-line-hegiht: 20px;
  --qw-typo-m-compact-font-family: var(--qw-typo-font-family);
  --qw-typo-s-font-size: 14px;
  --qw-typo-s-line-hegiht: 20px;
  --qw-typo-s-font-family: var(--qw-typo-font-family);
  --qw-typo-s-compact-font-size: 16px;
  --qw-typo-s-compact-line-hegiht: 16px;
  --qw-typo-s-compact-font-family: var(--qw-typo-font-family);
}
