.Text {
  &.Text_typo {
    &_h1 {
      font-size: var(--qw-typo-h1-font-size);
      font-family: var(--qw-typo-h1-font-family);
      line-height: var(--qw-typo-h1-line-hegiht);
    }

    &_h2 {
      font-size: var(--qw-typo-h2-font-size);
      font-family: var(--qw-typo-h2-font-family);
      line-height: var(--qw-typo-h2-line-hegiht);
    }

    &_h3 {
      font-size: var(--qw-typo-h3-font-size);
      font-family: var(--qw-typo-h3-font-family);
      line-height: var(--qw-typo-h3-line-hegiht);
    }

    &_h4 {
      font-size: var(--qw-typo-h4-font-size);
      font-family: var(--qw-typo-h4-font-family);
      line-height: var(--qw-typo-h4-line-hegiht);
    }

    &_l {
      font-size: var(--qw-typo-l-font-size);
      font-family: var(--qw-typo-l-font-family);
      line-height: var(--qw-typo-l-line-hegiht);
    }

    &_l-compact {
      font-size: var(--qw-typo-l-compact-font-size);
      font-family: var(--qw-typo-l-compact-font-family);
      line-height: var(--qw-typo-l-compact-line-hegiht);
    }

    &_m {
      font-size: var(--qw-typo-m-font-size);
      font-family: var(--qw-typo-m-font-family);
      line-height: var(--qw-typo-m-line-hegiht);
    }

    &_m-compact {
      font-size: var(--qw-typo-m-compact-font-size);
      font-family: var(--qw-typo-m-compact-font-family);
      line-height: var(--qw-typo-m-compact-line-hegiht);
    }

    &_s {
      font-size: var(--qw-typo-s-font-size);
      font-family: var(--qw-typo-s-font-family);
      line-height: var(--qw-typo-s-line-hegiht);
    }

    &_s-compact {
      font-size: var(--qw-typo-s-compact-font-size);
      font-family: var(--qw-typo-s-compact-font-family);
      line-height: var(--qw-typo-s-compact-line-hegiht);
    }
  }
}
