.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  background: transparent;
  outline: 0;
  font-weight: inherit;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  &[aria-disabled='true'] {
    cursor: default;
    pointer-events: none;
  }
}
