/* stylelint-disable-next-line CssSyntaxError */

.Theme_variant_default {
  /** Common level variables */
  --qw-typo-font-family: 'Museo Sans', 'Helvetica Neue', helvetica, arial, sans-serif;

  /** Brand level variables */

  /** Colors */
  --qw-color-base: #ffffff;
  --qw-color-brand: #ff8c00;
  --qw-color-secondary: #060505;
  --qw-color-surface: #f5f5f5;

  /** Component-specific level */

  --qw-text-weight-light-font-weight: 300;
  --qw-text-weight-normal-font-weight: 400;
  --qw-text-weight-medium-font-weight: 500;
  --qw-text-weight-bold-font-weight: 700;
  --qw-text-weight-heavy-font-weight: 900;

  /** Text */

  /** Text_typo */
  --qw-typo-h1-font-size: 32px;
  --qw-typo-h1-line-hegiht: 36px;
  --qw-typo-h1-font-family: var(--qw-typo-font-family);
  --qw-typo-h2-font-size: 28px;
  --qw-typo-h2-line-hegiht: 32px;
  --qw-typo-h2-font-family: var(--qw-typo-font-family);
  --qw-typo-h3-font-size: 24px;
  --qw-typo-h3-line-hegiht: 28px;
  --qw-typo-h3-font-family: var(--qw-typo-font-family);
  --qw-typo-h4-font-size: 20px;
  --qw-typo-h4-line-hegiht: 24px;
  --qw-typo-h4-font-family: var(--qw-typo-font-family);
  --qw-typo-l-font-size: 20px;
  --qw-typo-l-line-hegiht: 32px;
  --qw-typo-l-font-family: var(--qw-typo-font-family);
  --qw-typo-l-compact-font-size: 20px;
  --qw-typo-l-compact-line-hegiht: 28px;
  --qw-typo-l-compact-font-family: var(--qw-typo-font-family);
  --qw-typo-m-font-size: 16px;
  --qw-typo-m-line-hegiht: 24px;
  --qw-typo-m-font-family: var(--qw-typo-font-family);
  --qw-typo-m-compact-font-size: 16px;
  --qw-typo-m-compact-line-hegiht: 20px;
  --qw-typo-m-compact-font-family: var(--qw-typo-font-family);
  --qw-typo-s-font-size: 14px;
  --qw-typo-s-line-hegiht: 20px;
  --qw-typo-s-font-family: var(--qw-typo-font-family);
  --qw-typo-s-compact-font-size: 16px;
  --qw-typo-s-compact-line-hegiht: 16px;
  --qw-typo-s-compact-font-family: var(--qw-typo-font-family);

  /** Button */
  --qw-button-variant-brand-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  --qw-button-variant-brand-background: var(--qw-color-brand);
  --qw-button-variant-brand-background--disabled: #e6e6e6;
  --qw-button-variant-brand-background--hovered: #ff8200;
  --qw-button-variant-brand-border-radius: 30px;
  --qw-button-variant-brand-font-size: 20px;
  --qw-button-variant-brand-font-family: var(--qw-typo-font-family);
  --qw-button-variant-brand-text-color: var(--qw-color-base);
  --qw-button-variant-brand-text-color--hovered: rgb(255 255 255 / 90%);
  --qw-button-variant-brand-text-color--disabled: #999999;

  /** Button_variant_brand Button_size_l */
  --qw-button-variant-brand-size-l-background: linear-gradient(rgb(255 152 16), rgb(255 131 0));
  --qw-button-variant-brand-size-l-box-shadow: rgb(255 206 135) 0 15px 50px -10px;
  --qw-button-variant-brand-size-l-box-shadow--disabled: rgb(255 206 135) 0 0 0;
  --qw-button-variant-brand-size-l-box-shadow--hovered: rgb(255 206 135) 0 25px 50px -10px;

  /** Button_size_l */
  --qw-button-size-l-min-width: 200px;
  --qw-button-size-l-line-height: 60px;
  --qw-button-size-l-padding: 0 36px;

  /** Button_size_m */
  --qw-button-size-m-min-width: 148px;
  --qw-button-size-m-line-height: 48px;
  --qw-button-size-m-padding: 0 32px;

  /** Button_size_s */
  --qw-button-size-s-min-width: 100px;
  --qw-button-size-s-line-height: 40px;
  --qw-button-size-s-padding: 0 28px;
}
