.Theme_variant_formal {
  /** Common level variables */
  --qw-typo-font-family: 'Museo Sans', 'Helvetica Neue', helvetica, arial, sans-serif;

  /** Brand level variables */

  /** Colors */
  --qw-color-base: #ffffff;
  --qw-color-brand: #ff6f00;
  --qw-color-secondary: #272a35;
  --qw-color-surface: red;

  /** Component-specific level */

  @mixin text-theme-formal;
  @mixin button-theme-formal;
  @mixin grid-theme-formal;
}
