.Theme_variant_formal {
  /** Common level variables */
  --qw-typo-font-family: 'Museo Sans', 'Helvetica Neue', helvetica, arial, sans-serif;

  /** Brand level variables */

  /** Colors */
  --qw-color-base: #ffffff;
  --qw-color-brand: #ff6f00;
  --qw-color-secondary: #272a35;
  --qw-color-surface: red;

  /** Typo body L */
  --qw-typo-body-l-normal-font-family: var(--qw-typo-font-family);
  --qw-typo-body-l-normal-font-size: 20px;
  --qw-typo-body-l-normal-font-weight: 500;
  --qw-typo-body-l-normal-line-height: 32px;

  /** Component-specific level */

  /** Button_variant_brand */
  --qw-button-variant-brand-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  --qw-button-variant-brand-background: var(--qw-color-brand);
  --qw-button-variant-brand-background--disabled: #d9d9d9;
  --qw-button-variant-brand-background--hovered: var(--qw-color-secondary);
  --qw-button-variant-brand-border-radius: 10px;
  --qw-button-variant-brand-font-family: var(--qw-typo-font-family);
  --qw-button-variant-brand-text-color: var(--qw-color-base);
  --qw-button-variant-brand-text-color--hovered: rgb(255 255 255 / 90%);
  --qw-button-variant-brand-text-color--disabled: #ffffff;

  /** Button_variant_simple */
  --qw-button-variant-simple-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  --qw-button-variant-simple-background: #ffffff;
  --qw-button-variant-simple-background--disabled: #ffffff;
  --qw-button-variant-simple-background--hovered: var(--qw-color-brand);
  --qw-button-variant-simple-border-radius: 10px;
  --qw-button-variant-simple-font-size: 14px;
  --qw-button-variant-simple-font-family: var(--qw-typo-font-family);
  --qw-button-variant-simple-text-color: var(--qw-color-brand);
  --qw-button-variant-simple-text-color--hovered: #ffffff;
  --qw-button-variant-simple-text-color--disabled: #bebfc2;
  --qw-button-variant-simple-border-color: var(--qw-color-brand);
  --qw-button-variant-simple-border-color--disabled: #bebfc2;
  --qw-button-variant-simple-border-width: 1px;
  --qw-button-variant-simple-border-width--disabled: var(--qw-button-variant-simple-border-width);
  --qw-button-variant-simple-border-style: solid;
  --qw-button-variant-simple-border-style--disabled: var(--qw-button-variant-simple-border-style);

  /** Button_variant_brand Button_size_l */
  --qw-button-variant-brand-size-l-background: var(--qw-button-variant-brand-background);
  --qw-button-variant-brand-size-l-box-shadow: unset;
  --qw-button-variant-brand-size-l-box-shadow--disabled: unset;
  --qw-button-variant-brand-size-l-box-shadow--hovered: unset;

  /** Button_variant_simple Button_size_l */
  --qw-button-variant-simple-size-l-box-shadow: rgb(0 0 0 / 15%) 0 15px 50px -10px;
  --qw-button-variant-simple-size-l-box-shadow--disabled: 0 0 0 rgb(0 0 0);

  /** Button_size_l */
  --qw-button-size-l-min-width: unset;
  --qw-button-size-l-line-height: 18px;
  --qw-button-size-l-padding: 12px 24px;
  --qw-button-size-l-font-size: 14px;

  /** Button_size_m */
  --qw-button-size-m-min-width: unset;
  --qw-button-size-m-line-height: 18px;
  --qw-button-size-m-padding: 12px 24px;
  --qw-button-size-m-font-size: 14px;

  /** Button_size_s */
  --qw-button-size-s-min-width: unset;
  --qw-button-size-s-line-height: 18px;
  --qw-button-size-s-padding: 12px 24px;
  --qw-button-size-s-font-size: 14px;
}
