/* stylelint-disable-next-line CssSyntaxError */

.Theme_variant_default {
  /** Common level variables */
  --qw-typo-font-family: 'Museo Sans', 'Helvetica Neue', helvetica, arial, sans-serif;

  /** Brand level variables */

  /** Colors */
  --qw-color-base: #ffffff;
  --qw-color-brand: #ff8c00;
  --qw-color-secondary: #060505;
  --qw-color-surface: #f5f5f5;
  --qw-color-error: #d0021b;

  /** Component-specific level */

  --qw-text-weight-light-font-weight: 300;
  --qw-text-weight-normal-font-weight: 400;
  --qw-text-weight-medium-font-weight: 500;
  --qw-text-weight-bold-font-weight: 700;
  --qw-text-weight-heavy-font-weight: 900;

  /** Button */

  /** Divider */

  @mixin text-theme-default;
  @mixin button-theme-default;
  @mixin divider-theme-default;
  @mixin grid-theme-default;
  @mixin grid-item-theme-default;
  @mixin input-theme-default;
  @mixin checkbox-theme-default;
}
