@define-mixin radio-button-theme-formal {
  /* GROUP */
  --qw-radio-group-margin: 0 0 16px 0;
  --qw-radio-group-display: flex;
  --qw-radio-group-align-items: center;
  --qw-radio-group-disabled-color: rgb(102 102 102);

  /* Button style */
  --qw-radio-button-width: 24px;
  --qw-radio-button-height: 24px;
  --qw-radio-button-margin-right: 10px;
  --qw-radio-button-border: 1px solid;
  --qw-radio-button-border-color: #7e7f85;
  --qw-radio-button-border-radius: 50%;
  --qw-radio-button-background-color: var(--qw-color-base);
  --qw-radio-button-hover-border-color: var(--qw-color-brand);
  --qw-radio-button-hover-disabled-border-color: #e6e6e6;
  --qw-radio-button-checked-border-color: var(--qw-color-brand);
  --qw-radio-button-checked-hover-border-color: var(--qw-color-secondary);

  /* Pseudo Element Style */
  --qw-radio-button-pseudo-width: 24px;
  --qw-radio-button-pseudo-height: 24px;
  --qw-radio-button-pseudo-border-radius: 50%;
  --qw-radio-button-pseudo-background-color: var(--qw-color-brand);
  --qw-radio-button-pseudo-checked-hover-background-color: var(--qw-color-secondary);
}
