.RadioBlock {
  display: var(--qw-radio-group-display);
  align-items: var(--qw-radio-group-align-items);
  margin: var(--qw-radio-group-margin);
  font-family: var(--qw-button-variant-brand-font-family);

  .RadioButton {
    position: relative;
    width: var(--qw-radio-button-width);
    height: var(--qw-radio-button-height);
    margin-right: var(--qw-radio-button-margin-right);
    border: var(--qw-radio-button-border);
    border-color: var(--qw-radio-button-border-color);
    border-radius: var(--qw-radio-button-border-radius);
    background-color: var(--qw-radio-button-background-color);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      width: var(--qw-radio-button-pseudo-width);
      height: var(--qw-radio-button-pseudo-height);
      border-radius: var(--qw-radio-button-pseudo-border-radius);
      background-color: var(--qw-radio-button-pseudo-background-color);
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    cursor: pointer;

    .RadioButton {
      border-color: var(--qw-radio-button-hover-border-color);
    }
  }

  input {
    display: none;
  }

  &_disabled {
    color: var(--qw-radio-group-disabled-color);

    &:hover {
      cursor: not-allowed;

      .RadioButton {
        border-color: var(--qw-radio-button-border-color);
      }
    }
  }

  & input:checked + .RadioButton {
    border-color: var(--qw-radio-button-checked-border-color);

    &::after {
      display: block;
    }

    &:hover {
      border-color: var(--qw-radio-button-checked-hover-border-color);

      &::after {
        background-color: var(--qw-radio-button-pseudo-checked-hover-background-color);
      }
    }
  }
}
