@define-mixin input-theme-default {
  --qw-input-font-family: var(--qw-typo-font-family);
  --qw-input-control-padding: 16px 0 0 0;
  --qw-input-control-border-bottom: 1px solid rgb(0 0 0 / 20%);
  --qw-input-control-height: 44px;
  --qw-input-control-state-error-border-bottom: 2px solid var(--qw-color-error);
  --qw-input-control-font-size: 20px;
  --qw-input-control-font-weight: var(--qw-text-weight-light-font-weight);
  --qw-input-control-border-radius: unset;
  --qw-input-control-line-height: 20px;
  --qw-input-control-border-bottom-hovered: var(--qw-input-control-border-bottom);
  --qw-input-control-color: #000000;
  --qw-input-hint-state-error-color: var(--qw-color-error);
  --qw-input-hint-font-size: 14px;
  --qw-input-hint-color: rgb(102 102 102);
  --qw-input-hint-font-weight: var(--qw-text-weight-light-font-weight);
  --qw-input-title-top: 16px;
  --qw-input-title-left: unset;
  --qw-input-title-top-focused: 0;
  --qw-input-title-font-size: 20px;
  --qw-input-title-font-weight: var(--qw-text-weight-light-font-weight);
  --qw-input-title-line-height: 26px;
  --qw-input-title-color: rgb(102 102 102);
  --qw-input-focused-title-font-size: 14px;
  --qw-input-focused-title-line-height: 16px;
  --qw-input-bottom-bar-margin: 4px 0 0 0;
  --qw-input-bottom-bar-line-height: 16px;
}
