.Button.Button_variant_simple {
  border-width: var(--qw-button-variant-simple-border-width);
  border-style: var(--qw-button-variant-simple-border-style);
  border-color: var(--qw-button-variant-simple-border-color);
  border-radius: var(--qw-button-variant-simple-border-radius);
  background: var(--qw-button-variant-simple-background);
  color: var(--qw-button-variant-simple-text-color);
  font-size: var(--qw-button-variant-simple-font-size);
  font-family: var(--qw-button-variant-simple-font-family);
  transition: var(--qw-button-variant-simple-transition);

  &:active:not([aria-disabled='true']) {
    color: var(--qw-button-variant-simple-text-color--active);
  }

  &:hover:not([aria-disabled='true']) {
    background: var(--qw-button-variant-simple-background--hovered);
    color: var(--qw-button-variant-simple-text-color--hovered);
  }

  &[aria-disabled='true'] {
    border-width: var(--qw-button-variant-simple-border-width--disabled);
    border-style: var(--qw-button-variant-simple-border-style--disabled);
    border-color: var(--qw-button-variant-simple-border-color--disabled);
    background: var(--qw-button-variant-simple-background--disabled);
    color: var(--qw-button-variant-simple-text-color--disabled);
  }

  &.Button_size_l {
    box-shadow: var(--qw-button-variant-simple-size-l-box-shadow);

    &:hover:not([aria-disabled='true']) {
      box-shadow: var(--qw-button-variant-simple-size-l-box-shadow--hovered);
    }

    &[aria-disabled='true'] {
      box-shadow: var(--qw-button-variant-simple-size-l-box-shadow--disabled);
    }
  }
}
