.Button.Button_variant_brand {
  border-radius: var(--qw-button-variant-brand-border-radius);
  background: var(--qw-button-variant-brand-background);
  color: var(--qw-button-variant-brand-text-color);
  font-family: var(--qw-button-variant-brand-font-family);
  transition: var(--qw-button-variant-brand-transition);

  &:active:not([aria-disabled='true']) {
    color: var(--qw-button-variant-brand-text-color--active);
  }

  &:hover:not([aria-disabled='true']) {
    background: var(--qw-button-variant-brand-background--hovered);
    color: var(--qw-button-variant-brand-text-color--hovered);
  }

  &[aria-disabled='true'] {
    background: var(--qw-button-variant-brand-background--disabled);
    color: var(--qw-button-variant-brand-text-color--disabled);
  }

  &.Button_size_l {
    box-shadow: var(--qw-button-variant-brand-size-l-box-shadow);

    &:hover:not([aria-disabled='true']) {
      box-shadow: var(--qw-button-variant-brand-size-l-box-shadow--hovered);
    }

    &[aria-disabled='true'] {
      box-shadow: var(--qw-button-variant-brand-size-l-box-shadow--disabled);
    }
  }
}
