@define-mixin grid-item-theme-formal {
  --qw-grid-grid-area-columns-1: auto / auto / auto / span 1;
  --qw-grid-grid-area-columns-2: auto / auto / auto / span 2;
  --qw-grid-grid-area-columns-3: auto / auto / auto / span 3;
  --qw-grid-grid-area-columns-4: auto / auto / auto / span 4;
  --qw-grid-grid-area-columns-5: auto / auto / auto / span 5;
  --qw-grid-grid-area-columns-6: auto / auto / auto / span 6;
  --qw-grid-grid-area-columns-7: auto / auto / auto / span 7;
  --qw-grid-grid-area-columns-8: auto / auto / auto / span 8;
  --qw-grid-grid-area-columns-9: auto / auto / auto / span 9;
  --qw-grid-grid-area-columns-10: auto / auto / auto / span 10;
  --qw-grid-grid-area-columns-11: auto / auto / auto / span 11;
  --qw-grid-grid-area-columns-12: auto / auto / auto / span 12;
}
